.walks {
  padding-block-start: 0;
}
.walks section {
  --content-max-width: 1350px;
}

.heroSection {
  position: relative;
}
.hero {
  display: grid;
  gap: 1rem;
  align-content: center;
  height: clamp(16rem, 40vw, 20rem);
  z-index: 2;

  color: var(--clr-text-white);

  & p {
    max-width: 40ch;
  }
}
.heroImage {
  position: absolute;
  inset: 0;
  grid-column: full-width;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-400);

  width: 100%;

  @media (max-width: 55.5rem) {
    flex-direction: column;
  }
}

.bold {
  font-weight: var(--fw-medium);
}

/* WalkSearchAndFilter */

.searchAndFilter {
  display: flex;
  gap: 1rem;

  padding: calc(3 * var(--gap-300));

  background: var(--clr-bg-light);
  border-radius: 0.5rem;
  margin-block-start: -2rem;
  z-index: 99999;

  & hr {
    border: none;
    border-inline-end: 1px solid var(--clr-border-muted);
  }
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.75ch;

  background: var(--clr-bg-light);

  border: 1px solid var(--clr-border-muted);
  border-radius: 0.25rem;

  position: relative;
  flex: 1;
  height: fit-content;

  font-size: inherit;
  color: inherit;

  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  & svg {
    width: 2ch;
    height: 2ch;
  }

  &:hover,
  &:has(input:focus) {
    border-color: currentColor;
  }

  & input {
    flex: 1;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
}
.searchBarButton {
  display: flex;
  height: 100%;
  padding-inline: 0.25rem;
  margin-inline: -0.25rem;
}

.filters {
  display: flex;
  gap: inherit;
  flex-wrap: wrap;

  white-space: pre;

  & > button {
    flex: 1;
    flex-basis: fit-content;
  }
}
.filtersShowHide {
  display: none;
}

@media (max-width: 74rem) {
  .searchAndFilter {
    display: grid;
  }

  .filters {
    width: 100%;
  }
  .filters button {
    flex: initial;
  }

  .filtersClear {
    margin-inline-start: auto;
    padding-inline: 2ch;
  }
}
@media (max-width: 54rem) {
  .filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
  }

  .filtersClear {
    margin-inline-start: initial;
    padding-inline: 0;
  }
}
@media (max-width: 36rem) {
  .filtersShowHide {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: var(--fs-300);
    text-decoration: underline;
    line-height: 0.5;
    margin-block-end: 0.5lh;
    color: var(--clr-text-black-muted);
  }

  .filtersClear {
    padding-inline: 0.625rem;
    padding-block: 0.375rem;

    font-size: var(--fs-300);
    font-weight: var(--fw-medium);

    background: var(--clr-border-muted);
    border: 1px solid var(--clr-border);
    border-radius: 0.25rem;

    &:hover {
      border-color: currentColor;
    }
  }

  .filters {
    grid-template-columns: 1fr;
    border-block-start: 1px solid var(--clr-border-muted);
    padding-block-start: 1rem;
  }
  .filters[data-hide="true"] {
    display: none;
  }
}

/* WalkGrid */

.grid {
  container-type: inline-size;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 1rem;

  flex: 1;
}

.gridTop {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--gap-600);
  row-gap: var(--gap-400);
}
.gridTopLeft,
.gridTopRight {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--fs-300);
}
.gridTopLeft {
  flex: 3;
  min-width: fit-content;
}
.gridTopRight {
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  min-width: fit-content;

  & > div {
    display: flex;
    align-items: center;
    gap: 1ch;
    white-space: pre;
    text-wrap: nowrap;
  }
}

.gridRadioGroup {
  display: flex;
  height: 2rem;

  border: 1px solid var(--clr-border-muted);
  border-radius: 0.25rem;
  overflow: hidden;
}
.gridRadio {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  & svg {
    width: 3rem;
    height: 3rem;
  }
  & input {
    display: none;
  }
  &:first-child {
    border-right: 1px solid var(--clr-border-muted);
  }
  &:has(input:checked) {
    color: var(--clr-text-white);
    background: var(--clr-text-black);
  }
}
@media (max-width: 39rem) {
  div.gridRadios {
    display: none;
  }
}

.gridGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  justify-items: center;
}
.gridGrid[data-view="list"] {
  grid-template-columns: 1fr;
}

.gridEndText {
  align-self: center;
  text-align: center;
  padding-block: var(--gap-400);

  & button {
    font-weight: var(--fw-medium);
    text-decoration: underline;
    user-select: initial;
  }
}

/* SelectDropdown */

.dropdownTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1ch;

  padding-inline: 0.625rem;
  padding-block: 0.375rem;

  min-width: 17.5ch;

  font-size: var(--fs-300);
  font-weight: var(--fw-medium);

  background: var(--clr-bg-light);
  border: 1px solid var(--clr-border-muted);
  border-radius: 0.25rem;
  color: var(--clr-text-black-muted);

  cursor: pointer;
  overflow: hidden;
  white-space: pre;

  &:hover {
    border-color: var(--clr-text-black-muted);
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 0.5ch;
  }
  & svg {
    width: 1.75ch;
    height: 1.75ch;
  }
}

.dropdownContent {
  background: var(--clr-bg-light);
  border-radius: 0.25rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  width: max-content;
  z-index: calc(infinity);

  min-width: 12rem;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1ch;

  padding-inline: 0.5rem;
  padding-block: 0.5rem;

  font-size: var(--fs-300);

  cursor: pointer;

  &[data-highlighted] {
    background: var(--clr-bg-dark);
    border: none;
    outline: none;
  }

  &[data-state="checked"] {
    font-weight: 500;
  }
}
