.walks {
  padding-block-start: 0;
}
.walks section {
  --content-max-width: 1350px;
}

.heroSection {
  position: relative;
  justify-items: start;
}
.hero {
  display: grid;
  gap: 0.5rem;
  grid-auto-rows: min-content;
  align-content: center;
  justify-content: center;
  height: clamp(16rem, 40vw, 22rem);
  z-index: 2;

  color: var(--clr-text-white);

  & p {
    max-width: 40ch;
    backdrop-filter: blur(0.25rem);
    padding-block: 0.05lh;
    padding-inline: 0.5rem;
  }
  & h1 {
    padding-block: 0.05lh;
    padding-inline: 0.5rem;
    /* margin-block-end: 0.625lh; */
    border-radius: var(--gap-300);

    /* text-align: center; */
    width: fit-content;
    text-wrap: balance;
    backdrop-filter: blur(0.25rem);
  }
}
.heroImage {
  position: absolute;
  inset: 0;
  grid-column: full-width;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-400);

  width: 100%;

  @media (max-width: 55.5rem) {
    flex-direction: column;
  }
}

.bold {
  font-weight: var(--fw-medium);
}

/* WalkSearchAndFilter */

.searchAndFilter {
  display: flex;
  column-gap: 0.375rem;
  row-gap: 0.5rem;
  align-items: center;

  padding: calc(2 * var(--gap-300));

  background: var(--clr-bg-light);
  border-radius: 0.5rem;
  margin-block-start: -2rem;
  z-index: 99999;

  & hr {
    border: none;
    border-right: 1px solid hsl(from var(--clr-border-muted) h s l / 0.5);
    margin-inline: 0.5rem;
  }
}

.search {
  display: grid;
  gap: 0.75rem;
  flex: 1;
}
.searchBar {
  display: flex;
  align-items: center;
  gap: 0.75ch;

  background: var(--clr-bg-light);

  /* border: 1px solid var(--clr-border-muted); */
  border-radius: 0.25rem;

  position: relative;
  flex: 1;
  height: fit-content;

  font-size: inherit;
  color: inherit;

  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  & button {
    display: flex;
  }
  & svg {
    width: 2ch;
    height: 2ch;
  }

  &:hover,
  &:has(input:focus) {
    border-color: currentColor;
  }

  & input {
    flex: 1;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
}

.searchFilterMain {
  display: flex;
  flex: 1;
}
.filtersTab {
  display: none;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  font-weight: var(--fw-medium);

  & > div {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
}
div.filtersCount {
  gap: 0;
  font-weight: var(--fw-regular);
  color: var(--clr-text-muted);

  &[data-active="true"] {
    color: var(--clr-text);
    font-weight: var(--fw-medium);
  }
}
.filtersMain {
  padding-inline: 0.5rem;
}
.filtersMain,
.filterFilters {
  display: flex;
  column-gap: 0.5rem;
}
.filtersGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.filtersDropdown {
  /* border: none; */
  /* border-bottom: 1px solid var(--_border-colour); */
  /* border-radius: 0; */
  border-radius: 0.25rem;
  padding-inline: 0.625rem;
  padding-block: 0.5rem;

  justify-content: end;
  min-width: 15ch;

  /* font-size: var(--fs-400); */
  /* font-weight: var(--fw-regular); */

  & .filtersLabel {
    display: none;
  }
  & > div {
    flex: 1;
  }
  &[data-selected="true"] > div > span {
    color: var(--clr-text);
  }
  &:hover {
    border-color: inherit;
  }
}
button.filtersDropdownContent {
  border-radius: 0.5rem;
}

.filtersReset {
  justify-self: center;
  padding-block: 0.375rem;
  padding-inline: 1rem;
  /* font-weight: var(--fw-medium); */
  width: fit-content;
  border-radius: 0.5rem;

  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: var(--clr-bg);
  }
}

@media (max-width: 68rem) {
  .searchAndFilter {
    display: grid;
    & hr {
      border: none;
      border-top: 1px solid hsl(from var(--clr-border-muted) h s l / 0.5);
      margin-inline: 0.5rem;
    }
  }

  .filtersTab {
    display: flex;
  }
  button.filtersDropdown {
    flex: 1;
  }
  .filtersMain {
    display: grid;
    gap: 0.5rem;
    /* max-width: 35rem; */
  }
  .filtersMain[data-hide="true"] {
    display: none;
  }

  .filtersReset {
    font-weight: var(--fw-medium);
  }
}
@media (max-width: 42rem) {
  .searchFilterMain {
    display: grid;
    gap: 0.5rem;
  }

  .filtersMain {
    gap: 0;
  }
  .filterFilters {
    --_border-colour: hsl(from var(--clr-border-muted) h s l / 0.5);
    display: grid;
    /* gap: 0.5rem; */
    /* margin-inline: 0.5rem; */
    border: 1px solid var(--_border-colour);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-block-end: 0.5rem;
  }

  button.filtersDropdown {
    border: none;
    border-bottom: 1px solid var(--_border-colour);
    border-radius: 0;
    padding-inline: 0.625rem;
    padding-block: 0.75rem;
    flex: auto;

    justify-content: end;

    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

    color: var(--clr-text);

    & .filtersLabel {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      flex: 1;
    }
    & svg {
      scale: 1 !important;
    }
    & > div {
      flex: 1;
    }
    &[data-selected="true"] > div > span {
      font-weight: var(--fw-medium);
    }
    &:last-child {
      border: none;
    }
    &:hover {
      border-color: inherit;
    }
    & span[data-screen="small"] {
      display: block;
    }
    & span[data-screen="normal"] {
      display: none;
    }
  }
  button.filtersDropdownContent {
    font-size: var(--fs-400);
  }
}

.searchLocationButton {
  background: var(--clr-bg-darker);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 0.25rem;

  & button {
    /* text-decoration: underline; */
    font-weight: var(--fw-medium);
    user-select: auto;
  }
}

/* WalkGrid */

.grid {
  container-type: inline-size;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 1rem;

  flex: 1;

  @media (max-width: 36rem) {
    margin-block-start: 0.5rem;
  }
}

.gridTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--gap-600);
  row-gap: var(--gap-400);
}
.gridTopLeft,
.gridTopRight {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-size: var(--fs-300);
}
.gridTopLeft {
  /* flex: 3; */
  min-width: fit-content;
}
.gridTopWalkCount {
  /* font-weight: var(--fw-medium); */

  & span {
    /* color: var(--clr-primary-300); */
    font-weight: var(--fw-medium);
  }
}

.gridTopRight {
  justify-content: space-between;
  flex-wrap: wrap;
  /* flex: 1; */
  min-width: fit-content;
  /* margin-inline-start: auto; */

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    white-space: pre;
    text-wrap: nowrap;
  }
}
@media (max-width: 28.5rem) {
  /* .gridTopLeft {
    text-wrap: wrap;
    white-space: wrap;
  } */
  .gridTopRight {
    width: fit-content;
    flex: none;
  }
  /* div.gridTopSort {
    flex-direction: column;
    align-items: start;
    gap: 0;
  } */
  .gridTop {
    /* justify-content: end; */
    align-items: end;
    column-gap: var(--gap-400);
  }
  /* .gridTop {
    align-items: end;
    column-gap: var(--gap-400);
  }
  .gridTopLeft {
    margin-block-end: 0.25lh;
  }

  div.gridTopSort {
    flex-direction: column;
    align-items: start;
    gap: 0;
  } */
}

div.gridRadios {
  display: none;
}
.gridRadioGroup {
  display: flex;
  height: 2.25rem;

  border: 1px solid var(--clr-border-muted);
  border-radius: 0.25rem;
  overflow: hidden;
}
.gridRadio {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  height: 100%;

  background: var(--clr-bg);

  & svg {
    width: 2.75rem;
    height: 2.75rem;
  }
  & input {
    display: none;
  }
  &:first-child {
    border-right: 1px solid var(--clr-border-muted);
  }
  &:has(input:checked) {
    color: var(--clr-text-white);
    background: var(--clr-text-black);
  }
}

.gridGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  justify-items: center;
}
@media (min-width: 39rem) {
  div.gridRadios {
    display: flex;
  }
  .gridGrid[data-view="list"] {
    grid-template-columns: 1fr;
  }
}

.gridEndText {
  display: flex;
  align-items: center;
  gap: 1rem;

  align-self: center;
  text-align: center;
  padding-block: var(--gap-400);

  width: 100%;

  /* & button {
    font-weight: var(--fw-medium);
    text-decoration: underline;
    user-select: initial;
  } */

  & button {
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    background: var(--clr-border-muted);
  }
}
