.weather {
  background: var(--clr-bg-light);
  padding-block-start: 0;

  & > section {
    --content-max-width: 1240px;
  }
}

.heroSection {
  position: relative;
}
.hero {
  display: grid;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  height: clamp(10rem, 30vw, 18rem);
  z-index: 2;

  & p {
    max-width: 40ch;
  }
  & h1 {
    padding-block: 0.05lh;
    padding-inline: 0.375ch;
    margin-block-end: 0.25lh;
    border-radius: var(--gap-300);

    text-align: center;
    text-wrap: balance;
    color: var(--clr-text-white);
    backdrop-filter: blur(0.25rem);
  }
}
.heroImage {
  position: absolute;
  inset: 0;
  grid-column: full-width;
  user-select: none;
  pointer-events: none;
}
.updateTime {
  padding-inline-start: 0.25rem;
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
  opacity: 0.9;
  margin-block: var(--gap-400) var(--gap-500);
}

.main {
  display: grid;
  gap: var(--gap-600);
}

/*  */

.boldheading {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
}

.heightInputs {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: var(--fw-medium);
  user-select: none;
  cursor: default;
}
.heightInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  padding-inline: 0.25rem;
  padding-block: 0.125rem;
  border-radius: 0.25rem;
  user-select: text;

  border: 2px solid transparent;

  &:has(input:checked) {
    background: var(--clr-bg-dark);
    border-color: var(--clr-bg-darker);
  }
  & input {
    display: none;
  }
}

.suntime {
  font-size: var(--fs-300);
  opacity: 0.7;
}
/*  */

.forecast {
  display: grid;
  row-gap: var(--gap-600);
}
.futureForecast {
  display: grid;
  row-gap: var(--gap-300);
}
.forecastRow {
  display: grid;
  grid-template-columns: 23ch auto;
  column-gap: var(--gap-600);
  row-gap: var(--gap-300);

  background: var(--clr-bg);
  border-radius: 0.5rem;
  padding: var(--gap-500);
}
.forecastDate {
  display: grid;
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  font-size: var(--fs-700);
  line-height: 1.2;

  & span {
    font-family: var(--ff-body);
    font-weight: var(--fw-medium);
    font-size: var(--fs-400);
    color: var(--clr-text-muted);
  }
}
.forecastSticky {
  display: grid;
  gap: var(--gap-500);

  height: fit-content;

  & .boldheading {
    margin-block-end: 0.25lh;
  }
}
.additionalInfo {
  display: contents;
}

.furtherTitle {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.forecastMain {
  display: grid;
  gap: var(--gap-500);

  margin-block-start: 0.25lh;

  & p {
    line-height: 1.4;
  }

  & .additionalInfo {
    display: none;
  }
}
.futureForecast .forecastMain {
  gap: var(--gap-400);
}

.forecastTable {
  max-width: 100%;
  overflow-x: hidden;
  margin-block-start: -0.25rem;
  padding-block-start: 0.25rem;
}

@media (max-width: 60rem) {
  .forecast,
  .futureForecast {
    row-gap: var(--gap-500);
  }
  .forecastRow {
    grid-template-columns: 1fr;
  }
  .forecastSticky {
    position: initial;
    padding-block: 0;
    gap: var(--gap-400);
  }

  .forecastSticky h2 {
    font-size: var(--fs-800);
  }

  .forecastSticky .additionalInfo {
    display: none;
  }
  .forecastMain .additionalInfo {
    display: contents;
  }
}

.temperatureList {
  list-style: square inside;
  margin-inline-start: 0.25ch;
}

/*  */

.mountainHazards {
  list-style: none;

  display: flex;
  gap: 0.5ch;
  flex-wrap: wrap;
}
.mountainHazard,
.meteorologistView {
  padding-inline: 0.625ch;
  padding-block: 0.25lh;
  display: inline-block;
  height: fit-content;

  &.high {
    background: #f3693740;
    border-inline-start: 0.25rem solid #f36937;
  }
  &.medium {
    background: #f6b24340;
    border-inline-start: 0.25rem solid #f6b243;
  }
  &.low {
    background: #f1d46340;
    border-inline-start: 0.25rem solid #f1d463;
  }
}
.mountainHazard {
  white-space: pre;
}
.meteorologistView {
  background: #6daac340;
  border-inline-start: 0.25rem solid #6daac3;
}

/*  */

.weatherTableContainer {
  width: 100%;
  overflow-x: auto;
}
.weatherTable {
  width: 100%;

  --_padding-inline: var(--gap-400);
  margin-block: var(--gap-300);

  & td,
  & th {
    text-wrap: nowrap;
    text-align: center;
    padding-inline: 1ch;
  }
  & th {
    font-weight: var(--fw-medium);
  }
  & th:first-child {
    text-align: left;
    padding-inline-start: 0;

    position: sticky;
    left: 0;
    background: var(--clr-bg);
    padding-inline-start: 0.5rem;
  }

  & svg {
    max-width: 4.5ch;
    max-height: 4.5ch;
  }
  & .rowIcon {
    display: none;

    & svg {
      width: 3ch;
      height: 3ch;
    }
  }
}

.primaryRow,
.primaryRow th:first-child,
.secondaryRow,
.secondaryRow th:first-child {
  background-color: var(--clr-bg-dark);
}
.weatherTable tr th:nth-child(2n),
.weatherTable tr td:nth-child(2n) {
  background-color: hsl(from var(--clr-bg-darker) h s l / 0.5);
}
.weatherTable thead tr th:first-child {
  background: var(--clr-bg);
}
.primaryRow th,
.primaryRow td,
.secondaryRow th,
.secondaryRow td {
  padding-block: 0.125rem;
}

.emtpyRow {
  height: 0.5rem;
}

/*  */

@media (max-width: 36rem) {
  .weatherTable th .rowIcon {
    display: flex;
    justify-content: center;

    font-size: var(--fs-300);
  }
  .weatherTable th .rowTitle {
    display: none;
  }
}

/*  */

.metoffice,
.noweather {
  font-size: var(--fs-300);
  color: var(--clr-text-muted);

  margin-inline: auto;
  text-align: center;
  text-wrap: balance;

  & a {
    text-decoration: underline;
    transition: color 100ms;
  }
  & a:hover {
    color: var(--clr-text);
  }
}
.noweather {
  font-size: var(--fs-400);
  color: var(--clr-text);
  margin-block-start: 1rem;

  & a:hover {
    color: var(--clr-text-muted);
  }
}

/* SelectDropdown */

.dropdownTrigger {
  min-width: 5ch !important;
}
.dropdownContent {
  min-width: 6rem !important;
}
