.container {
  container-type: inline-size;
  width: 100%;
}

.walkCard {
  display: grid;
  grid-template-columns: 1fr 2fr;

  height: 100%;

  background: var(--clr-bg);
  border-radius: 0.25rem;
  overflow: hidden;
  text-align: left;
}
.walkCard:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 2px;
}

.image {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 11;
}
.image img {
  transform-origin: bottom center;
  transition: scale 200ms;
}
.walkCard:focus .image img,
.walkCard:focus-visible .image img,
.walkCard:hover .image img {
  scale: 1.025;
}
.dist {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  background: var(--clr-bg-light);
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  padding-block: 0.25rem 0.125rem;

  font-size: var(--fs-200);
  font-weight: var(--fw-medium);

  cursor: default;
}

.text {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  background: var(--clr-bg-light);

  padding-block: 1rem 1rem;
  padding-inline: 1rem;
}
.titles {
  flex: 1;
  display: grid;
  gap: 0.25rem;

  & p {
    color: var(--clr-text-black-muted);
  }
}
.text .subheading {
  /* overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap; */
  transition: color 100ms;

  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);

  /* margin-block: 0.125lh; */
  line-height: 1.2;
}

.text hr {
  border: none;
  border-block-start: 2px solid hsla(from var(--clr-text-muted) h s l / 0.25);
}

.intro {
  --_max-lines: 2;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--_max-lines);
  line-clamp: var(--_max-lines);
  overflow: hidden;
  padding-inline-end: 1ch;
}

.icons {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  gap: 1ch;
  font-weight: var(--fw-medium);
  font-size: calc((var(--fs-300) + var(--fs-400)) / 2);

  /* width: 100%; */
}
.iconsIcon {
  display: flex;
  gap: 0.5ch;
  align-items: center;
  /* justify-content: center; */
  padding-inline: 0.25rem;

  min-width: 1px;
  /* flex: 1; */

  /* border-inline-end: 2px solid hsla(from var(--clr-text-muted) h s l / 0.25); */

  & svg {
    width: 1.5ch;
    height: 1.5ch;
  }
}
.iconsIcon.wide {
  /* flex: 1.25; */
}
.iconsIcon:first-child {
  padding-inline-start: 0;
}
.iconsIcon:last-child {
  padding-block-end: 0;
  border-color: transparent;
}
.text .button {
  margin-block-start: auto;
  margin-inline-start: auto;
}

section > div:has(.group) {
  /* grid-column: full-width; */
}
.group {
  display: grid;
  max-width: 75rem;
  grid-template-columns: repeat(3, minmax(min(22rem, 90%), 1fr));
  gap: 1rem;

  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  padding-block: 0.5rem;
  margin-block: -0.5rem;
  padding-inline: var(--section-padding);
  margin-inline: calc(-1 * var(--section-padding));
}
.group > .container {
  scroll-snap-align: center;
}

/*  */

@container (max-width: 34rem) {
  .walkCard {
    display: flex;
    flex-direction: column;
  }

  .image {
    aspect-ratio: initial;
    height: 12rem;
  }
  .text {
    flex: 1;
  }
  .intro {
    --_max-lines: 3;
  }
}
