.home {
  margin-block-start: -5.5rem;
  padding-block-start: 0;
}

.home section {
  --content-max-width: 1350px;
}

.heroSection {
  position: relative;

  height: max(min(70rem, 90vh, 60vw), 32rem);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap-600);
  justify-content: center;
  align-items: center;
  z-index: 2;

  color: var(--clr-text-white);
}
.title {
  max-width: min(16ch, 100%);
  text-align: center;
}
.heroSearch {
  width: min(14.5 * var(--fs-800), 95%);
  z-index: 2;
}

.heroImage,
.heroImageOverlay {
  position: absolute;
  inset: 0;
  grid-column: full-width;
}
.heroImageOverlay {
  background: var(--clr-text);
  opacity: 0.1;

  z-index: 1;
  pointer-events: none;
}

/*  */

.featured {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;

  margin-block: var(--gap-800) calc(1.5 * var(--gap-800));
}
.featuredTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & a {
    margin-block-start: 0.5lh;
  }
}
.featuredGroup {
  display: grid;
  /* max-width: 75rem; */
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  padding-block: 0.5rem;
  margin-block: -0.5rem;
  /* padding-inline: var(--section-padding); */
  margin-inline: calc(-1 * var(--section-padding));
}
@media (max-width: 71rem) {
  .featuredGroup {
    grid-template-columns: repeat(3, 1fr);

    & :nth-child(4) {
      display: none;
    }
  }
}
@media (max-width: 50rem) {
  .featuredGroup {
    grid-template-columns: repeat(2, 1fr);

    & :nth-child(4) {
      display: block;
    }
  }
}
@media (max-width: 32rem) {
  .featuredGroup {
    grid-template-columns: repeat(1, 1fr);
  }

  & :nth-child(4) {
    display: none;
  }
}

.wainwrightsSection {
  background: var(--clr-bg-darker);
}
.wainwrights {
  --_map-min-height: 35rem;

  display: grid;
  gap: var(--gap-800);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  margin-block: var(--gap-800);

  @media (max-width: 55rem) {
    --_map-min-height: 23rem;

    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-800);
  }
}
.wainwrightsText {
  display: grid;
  gap: var(--gap-400);

  margin-block: var(--gap-500) var(--gap-600);
}
.wainwrightsMap {
  height: var(--_map-min-height);
}

/*  */

.about {
  display: grid;
  column-gap: var(--gap-800);
  row-gap: var(--gap-700);
  grid-template-columns: 1fr 1.4fr;
  align-items: center;

  margin-block: var(--gap-800);

  @media (max-width: 50rem) {
    grid-template-columns: 1fr;

    & .aboutImage {
      margin-inline: auto;
      width: 100%;
      height: clamp(10rem, 35vw, 15rem);
    }
  }
}

.aboutImage {
  position: relative;
  width: 100%;
  height: 22rem;
}
.aboutText {
  display: grid;
  gap: var(--gap-400);
  height: fit-content;

  & h2 {
    margin-block-end: 0.125lh;
  }
  & a {
    margin-block-start: 0.5lh;
  }
}
