.breadcrumbs {
  display: flex;
  gap: 0.5ch;

  list-style: none;
  color: var(--clr-text-muted);
  cursor: default;

  & a {
    font-weight: var(--fw-medium);
  }
  & a:hover {
    color: var(--clr-text);
    text-decoration: underline;
  }
}
